{%load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  

  <style>
    body {
      width: 800px;
      margin: auto;
    }
    textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



  </style>
  <title>HEXIA</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'apple:home' %}">HEXIA SENTIMENT ANALYZER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
        <li><a class="navbar-link" href="{% url 'apple:home' %}">Main Feature</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="navbar-link" href="{% url 'apple:user_login' %}">Login</a></li>
        <li><a class="navbar-link" href="{% url 'apple:register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <h1 style="align-self: center;"> Sentiment Anlaysis on Electronic Gadgets</h1>

  <div class="square">


    <form action="{% url 'apple:my_function' %}">
      <textarea name="fulltextarea" cols="70" rows="5"></textarea>
      <br />
      <input type="submit" style="margin:0px auto; display:block;" class="btn btn-primary" value="Submit" />


    </form>

  </div>


  <div>
    <div class="container">
      <!-- <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div> -->
    </div>
    <hr>
<br>
    <div class="container px-lg-5">
      <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light">
          <p>Number of Instances : {{counts}}</p>
        </div>
        <div class="col py-3 px-lg-5 border bg-light">
          <p> Accuracy Level : {{accuracy |floatformat:2}}</p>
         
        </div>
      </div>
    </div>
    <br>
    {{data}}

    <br>


    <br>




  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>